<h1> <b> <center> Congrats on completing the Assurance of Learning Forms </center> </b> </h1>

 <p> <center> Because of your feedback we will be able to greatly improve Howard University!! <center> </p>

<h2> <center> <b> Congrats!! </b> </center> <h2>
  
 <center> <div>
  <center> <img src= "http://bevitalsob.com/wp-content/uploads/2015/04/congratulation-sayings-quotes-pictures-5-21842d73.jpg" class="img-rounded" height = "300"> </center> </div> </center>
    