
<h1> <b> <center> Welcome Howard University School of Business Revised Assurance of Learning Site! </center> </b> </h1>

 <p> Are you a professor that is sick and tried of all of the paper work that goes with completing AOL forms each semster?
If yes, this is why we are here! Our team has created an online solution for AOL forms. To get started just create an account! </p>

<h2> <center> <b> Meet our Team </b> </center> <h2>
  
  <div class="row">
  <center> <div class="col-xs-6 col-md-4"> <img src= "http://bevitalsob.com/wp-content/uploads/2015/04/IMG_0855.jpg" class="img-rounded" height = "300"> <center>Sofia</center> </div> </center>
    
    <center><div class="col-xs-6 col-md-4"> <img src= "http://bevitalsob.com/wp-content/uploads/2015/03/10702197_10152339063732097_6321142412848799474_n-1.jpg" class="img-rounded" height = "300"> <center> Jarrod </center> </div></center>
    
  <center> <div class="col-xs-6 col-md-4"> <img src= "http://bevitalsob.com/wp-content/uploads/2015/04/james.jpg" class="img-rounded" height = "300"> <center>James</center> </div> </center>
</div>
    
  <center> <div class="col-xs-6 col-md-4"> <img src= "http://bevitalsob.com/wp-content/uploads/2015/04/rasheed.jpg" class="img-rounded" height = "300"> <center>Rasheed</center> </div> </center>
</div>
  </div>


 
